[Unit]
Description=Gunicorn instance to serve Grow Bucket Life website
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/www/html
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind unix:growbucket.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
