[Unit]
Description=Gunicorn instance to serve Grow Bucket Life website
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/growbucket
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind unix:growbucket.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
